/* galeria de productos */
.galeria {
  display: flex;
  justify-content: center;  
  gap: 40px;               
  padding: 20px;
  flex-wrap: wrap;    
}

.item {
  text-align: center;
  width: 300px;             
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;   
}

@media (max-width: 768px) {
    .galeria {
        width: 100%;
        gap: 10px;
        padding: 30px;
    }

    .galeria .item {
        width: 130px;
    }
}