//paleta de colores

$color-principal: burlywood; 
$color-secundario: antiquewhite;
$color-h1: firebrick;
$color-h2: rgb(210, 57, 30);
$color-h3: blanchedalmond;
$color-h4: rgb(109, 109, 109);
$color-p: rgb(207, 118, 2);
$color-botones: chocolate;